<div class="container">

  <!-- TODO: Validation https://stackblitz.com/angular/lndkmpkdnmj?file=src%2Fapp%2Freactive%2Fhero-form-reactive.component.html -->
  <div [hidden]="submitted">
    <h2>Register</h2>
    <hr />
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mt-4">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" required >

        <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Email is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" formControlName="username" required >

        <div *ngIf="username.invalid && (username.dirty || username.touched)"
            class="alert alert-danger">
          <div *ngIf="username.errors.required">
            Username is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="password" required >
        
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">
          <div *ngIf="password.errors.required">
            Password is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword" required >
        
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
            class="alert alert-danger">
          <div *ngIf="confirmPassword.errors.required">
            Confirm Password is required.
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-success mb-5" [disabled]="registerForm.invalid">Submit</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You have sent request</h2>
    <h4>Please wait a moment...</h4>
  </div>
</div>
  